.s1 {
    display: inline-block;
    background-color: #ffffff;
}

.hnp{
    float: left;
    padding-bottom:0px;
    padding-left:300px;
    padding-top: 130px;
    width:50%;
}

.header1 {
    font-family: sans-serif;
    color: #3f4141;
    margin-bottom:30px;
    font-size: 40px;
}

.subheader {
    color: #888b8b;
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom:30px;
    font-size:30px;
}

.para {
    font-family: sans-serif;
    font-size: 20px;
    color: #849A9A;
}

.hnp .para {
    width:80%;
}

.h1__img {
    width:25%;
    margin-top: 100px;
    border-radius: 5px;
    margin-bottom: 150px;
}

.signup, .learn {
    background-color: rgb(211, 49, 57);
}

.learn {
    margin-right: 30px;
}

.signup:hover, .learn:hover {
    background-color:rgba(156,48,68,1);
    color:#ffffff;
}

.s2 {
    padding-top: 130px;
    text-align: center;
    width: 100%;
    padding-bottom: 130px;
    background-color: #e7e7e7;
}

.hnp2 {
    width:100%;
}

.hnp2 .para {
    width:30%;
    align-items: center;
    margin: auto;
}

.subsections {
    align-items: center;
    padding-top: 90px;
    margin: auto;
    width: 80%;
    max-width: 2000px;
}

.subsection1, .subsection2, .subsection3 {
    width:25%;
    margin: auto;
    display: inline-block;
    justify-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.subheader {
    color: #3f4141;
    font-weight: bold;
}

.subsection1 i, .subsection2 i, .subsection3 i {
    padding-bottom: 30px;
}

.subsec__icon {
    color: #2F97C1;
}

/* Carousel Styling */

.carousel {
    position: relative;
    height:500px;
    width:70%;
    margin: 0 auto;
    align-items: center;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    white-space: nowrap;
    overflow:hidden;
}
.carousel__track {
    padding: 0;
    margin:0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: 300ms ease-in;
    width: 100%;    
}
.carousel__slide {
    display: inline-block;
    top:0;
    bottom:0;
    width:28%;
}

.carousel__button {
    text-decoration: none;
    color:rgb(124, 124, 124);
    position:absolute;
    top:42%;
    transform: translateY(50%);
    font-size: 35px;
    border:0;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    transition: 250ms;
}

.carousel__button--left {
    left: -50px;
}
.carousel__button--right {
    right: -50px;
}

.carousel__img {
    width:100%;
    height:100%;
}

.carousel__indicator {
    border:0;
    border-radius:50%;
    width: 15px;
    height: 15px;
    background: black;
    margin: 0 15px;
    transform: translateY(-500);
}

.carousel__button:hover {
    background-color: rgb(115, 216, 211);
}

.carousel__slide {
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
}

.carousel__slide i {
    color: black;
}

.carousel__slide .para {
    padding-bottom: 10px;
}

/* end of carousel */

.program .para {
    margin-bottom: 0;
}

.program {
    background-color: #e7e7e7;
    height: 200px;
    margin-left: 2%;
    margin-right: 2%;
    height: 500px;
    padding-top: 50px;
    border-radius: 10px;
}

.s3 {
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}
.s3 .headpara {
    padding-bottom: 50px;
}

.s4 {
    padding-top: 50px;
    padding-bottom: 130px;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1594608661623-aa0bd3a69d98?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2059&q=80");
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position-y: -50px;
    background-position-x: -100px;
    /* background-color: rgb(71, 71, 71); */
    height: 610px;
    padding-left: 10px;
    padding-right: 10px;
}

.s4 .header1 {
    color: white;
}

footer {
    height: 200px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding-top: none;
    overflow: hidden;
}

.f1, .f2, .f3 {
    display: inline-block;
    width: 20%;
    padding-top: 40px;
    top: 0;
    vertical-align: top;
}
.footpara {
    width: 90%;
    margin: auto;
    font-size: 13px;
}
.foothead, .footpara {
    padding-bottom: 10px;
}
#lm {
    padding-bottom: 5px;
}
.footnav {
    list-style: none;
}
.footnav li {
    padding-bottom: 5px;
}
.foothead a {
    margin-bottom: 10px;
}
.f3 a{
    font-size: 13px;
    text-decoration: none;
    color: white;
    text-decoration: underline;
    font-weight: lighter;
    text-underline-position: under;
}


.s6 {
    padding-bottom: 100px;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    margin: auto;
}
.s5 {
    padding-bottom: 100px;
    padding-top: 50px;
    text-align: left;
    width: 100%;
    margin: auto;
}

.s5 h1 {
    color: #263D9A;
    margin-top: 40px;
    line-height: 55px;
}
.s6 .headpara {
    padding-bottom: 50px;
}
.c_pro {
    margin-top: 5px;
    padding: 11px 29px;
    background-color:rgb(111, 216, 211);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.c_pro:hover {
    background-color: rgb(83, 185, 180);
}

.s7 {
    padding-bottom: 100px;
    padding-top: 50px;
    text-align: left;
    width: 100%;
    background-color: #e7e7e7;
}

.s7 h1 {
    color: #263D9A;
    margin-top: 40px;
    line-height: 55px;
}
.s6 .headpara, .s8 .headpara {
    padding-bottom: 50px;
}
.s5 .headpara, .s7 .headpara {
    line-height: 60px;
}

.space {
    margin-top: 35px;
    margin-bottom: 70px;
}
.hnp3 {
    width: 70%;
    margin: auto;
}


.s8 {
    padding-bottom: 100px;
    padding-top: 50px;
    text-align: center;
    width: 60%;
    margin: auto;
}
/* media queries */
@media screen and (max-width: 450px) {
    .contact {
        display:none;
    }
    nav {
        margin-left: 0px;
    }
    header {
        align-items: center;
        display: block;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .nav__links li {
        padding: 0;
    }
    header nav {
        padding-top: 15px;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    .carousel__slide {
        width:88%
    }
    .subsection1, .subsection2, .subsection3 {
        width: 100%;
        display:unset;
        margin: auto;
        margin-top: 10px; 
    }
    iframe {
        width: 90%;
        height: 80%;
    }
    .f1, .f2, .f3 {
        width: 40%;
        padding-bottom: 10px;
    }
    .f1 {
        display: none;
    }
    .hnp {
        padding-left: 0px;
        padding-top: 50px;
        text-align: center;
        align-items: center;
        margin: auto;
        float: none;
        width: 90%;
        padding-bottom: 50px;
    }
    .hnp p {
        display: unset;
    }
    .h1__img {
        display: none;
    }
    .s2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .hnp2 .para {
        width: 80%;
        padding-bottom: 20px;
    }
    .subsections {
        align-items: center;
        margin:auto;
        padding-top: 0px;
    }
    i {
        margin-top: 15px;
    }
    p.para {
        margin-bottom: 15px;
    }
    .s3 {
        padding-top: 30px;
    }
}
