@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0;
    padding: 0;
}
li, header a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
.logo {
    width: 50px;
    cursor: pointer;
}

nav {
    font-family: sans-serif;
    width: 100%;
    display: block;
}
header {
    display: flex;
    justify-content: flex-end;
    padding: 30px 10%;
    text-align: center;
    height: 88px;
    padding-top: 20px;
    background-color:#263D9A;
}
footer {
    background-color:#263D9A;
    height: 190px;
}
.nav__links {
    list-style-type: none;
}

.nav__links li {
    display:inline-block;
    padding: 20px 30px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-underline-position: under;
}

.nav__links li a:hover {
    color:#101A42;
}

.contact, .signup, .learn {
    margin-top: 5px;
    padding: 11px 29px;
    background-color:rgba(54,143,139,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact:hover {
    background-color:rgba(0,136,169,0.8);
    color:#edf0f1;
}